 
# general
*~
*.pyc
\#*\#
.\#*
*DS_Store
out.txt
tensorflow_tts.egg-info/
doc/_build
slurm-*.out
tmp*
.eggs/
.hypothesis/
.idea
.backup/
.pytest_cache/
__pycache__/
.coverage*
coverage.xml*
.vscode*
.nfs*
.ipynb_checkpoints

# recipe related
egs/*/datasets
egs/*/dump
egs/*/exp
*.h5
*.npy
*.png
*.wav
*.yml
