 
# general
*~
*.pyc
\#*\#
.\#*
*DS_Store
out.txt
TensorflowTTS.egg-info/
doc/_build
slurm-*.out
tmp*
.eggs/
.hypothesis/
.idea
.backup/
.pytest_cache/
__pycache__/
.coverage*
coverage.xml*
.vscode*
.nfs*
.ipynb_checkpoints
ljspeech
*.h5
*.npy
./*.wav
*.yml
!docker-compose.yml
/Pipfile
/Pipfile.lock
/datasets
/examples/tacotron2/exp/
/temp/
LibriTTS/
dataset/
mfa/
kss/
baker/
libritts/
dump_baker/
dump_ljspeech/
dump_kss/
dump_libritts/